* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.basic-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header {
  padding: 20px 0 0 0;
}

.btn {
  padding: 0;
  display: block;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
}