$light-green: #84c604;
$main-green: #1fba0a;
$main-orange: #fd4f10;
$main-red: #da2024;
$title-color:#32505a;
$text-color: #4d4d4d;
$footer-color: #1a2d34;
$footer-light-color: #20353d; 
$vk-color: #5e81a7;
$hover-orange: #ff2600; 
$footer-text-color: #6b96a5;


