.about__section {
  padding-bottom: 75px;
}

.about__title {
  width: 52%;
}

.about__mini-title {
  color: $title-color;
  font-size: 24px;
}

.about__content__text {
  width: 67%;
  font-size: 14px;
  color: $text-color;
  line-height: 1.3;
}