.banner {
  position: relative;
  padding: 60px 0;
  background-image: url("../../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__title__box {
  justify-content: unset;
  margin: 35px 0;
  align-items: flex-start;
}

.discount {
  // margin-top: 50px;
  position: relative;
  text-align: center; 
  font-size: 30px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  color: white;
  background: linear-gradient(to bottom,#de2024,#b71f24);
  font-weight: bold;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
  }
}

.banner__title {  
  margin: 0;
  width: 50%;
  font-family: "Lemon Tuesday";
  color: $light-green;
  font-size: 110px;
}

.banner__description {
  margin: 50px 0;
  font-size: 20px;
  font-style: italic;
  color: white;
  font-weight: normal;
}

.banner__more__link {
  text-transform: uppercase;
  padding: 20px 75px;
  background: $main-orange;
  color: white;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 50px;
  transition: 0.3s ease;

  &:hover, &:focus {
    background: $hover-orange;
  }
}

.banner__controllers {
  width: 5%;
  margin: 25px auto;
}

.controller {
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 5;
  top: 50%;
}

.controller--left {
  left: 15px;
  background-image: url("../../img/arrow.png");
}
.controller--right {
  right: 15px;
  background-image: url("../../img/arrow.png");
  transform: rotate(180deg);
}

.banner__controllers {
  margin-top: 25px;
}

.controller-radio {
  input {
    display: none;
    width: 0;
    height: 0;

    &:checked + span {
      background: $main-green;
      border: none;
      transform: scale(1.15);
    }
  }
}

.custom-radio {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  transition: 0.3s;
}