.banner {
  position: relative;
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}



.banner__title__box {
  justify-content: unset;
  margin: 35px 0;
  align-items: flex-start;
}

.discount {
  position: relative;
  text-align: center; 
  font-size: 30px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  color: white;
  background: linear-gradient(to bottom,#de2024,#b71f24);
  font-weight: bold;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
  }
}

.banner__title {  
  margin: 0;
  width: 50%;
  font-family: "Lemon Tuesday";
  color: $light-green;
  font-size: 110px;
  font-weight: normal;
}

.banner__content {
  outline: none;
}

.banner__description {
  margin: 50px 0;
  font-size: 20px;
  font-style: italic;
  color: white;
  font-weight: normal;
}

.banner__more__link {
  text-transform: uppercase;
  padding: 20px 75px;
  background: $main-orange;
  color: white;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 50px;
  transition: 0.3s ease;

  &:hover, &:focus {
    background: $hover-orange;
  }
}


.controller {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: 30%;
  border-radius: 50%;
  transition: 0.3s ease;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 5;
  top: 50%;

  &:hover, &:focus {
    background-color: #222;
  } 
}

.controller--left {
  left: -5%;
  background-image: url("../img/arrow.png");
}
.controller--right {
  right: -5%;
  background-image: url("../img/arrow.png");
  transform: rotate(180deg);
}

.banner__controllers {
  list-style: none;
  width: 5%;
  margin: 0 auto;
  padding: 0;
  
  li {
    &:not(:last-child) {
      margin-right: 10px;
    }
    
    button {
      display: block;
      border: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid #c2c2c2;
      background: transparent;
      transition: 0.3s;
      outline: none;
      font-size: 0;
      cursor: pointer;
    }
  }
  .slick-active {
    button {
      transform: scale(1.1);
      background: $main-green;
    }
  }
}






@media only screen and (max-width: 1200px) {
  .banner__title {
    font-size: 70px;
  }
  .discount {
    margin-left: 50px;
    font-size: 20px;
    height: 100px;
    width: 100px;
  }
  .banner__controllers {
    width: 10%;
  }
}


@media only screen and (max-width: 750px) {
  .banner {
    padding-bottom: 10px;
    height: 70vh;
  }
  .banner__title {
    font-size: 48px;
  }
  .discount {
    margin-top: 50px;
    font-size: 14px;
    height: 60px;
    width: 60px;
  }
  .banner__controllers {
    position: relative;
    top: 40px;
    width: 20%;
  }
  .banner__more__link {
    margin-bottom: 25px;
  }
}