.logo {
  width: 190px;
  margin-right: 50px;
}

.mini-logo {
  display: none;
}

.header__top {
  margin-bottom: 20px;
}

.with-icon {
  font-size: 14px;
  color: black;
  display: flex;
  align-items: center;
  &::before {
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-right: 10px;
  }
}

.hamburger-btn {
  display: none;
}

.contact-details-750 {
  display: none;
}

.top__address {
  &::before {
    background-image: url("../img/maps-and-flags.png");
  }
}

.email {
  &::before {
    background-image: url("../img/mail.png");
  }
}

.top__right {
  flex-grow: 0.25;
}

.working-hours {
  p {
    margin: 0;
    font-size: 10px;
  }
}

.tel-number__link {
  color: black;
}

.top__call {
  color: $main-green;
  padding: 15px 20px;
  border: 1px solid $main-green;
  border-radius: 5px;
  transition: 0.3s ease;;

  &:hover, &:focus {
    background: $main-green;
    color:white;
  }
}

 
.navbar {
  border-top: 1px solid #f2f2f2;

  .basic-flex {
    justify-content: space-around;
  }
}


.menu__link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: black;
  padding: 20px 25px;
  transition: background 0.3s ease;

  &:hover, &:focus {
    background: $light-green;
    color: white;
  }
}

.with-menu {
  &::after {
    margin-top: 5px;
    margin-left: 5px;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url("../img/down-arrow.png");
    background-repeat: no-repeat;
  }
}

.account__related {
  flex-grow: 0.3;
  a {
    font-size: 14px;
    font-weight: bold;
  }
}

.cabinet {
  &::before {
    width: 24px;
    height: 24px;
    background-image: url("../img/user_i.png")
  }
}

.basket {
  &::before {
    width: 24px;
    height: 24px;
    background-image: url("../img/cart.png")
  }
}

.account__related--display-750 {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background: #fff;
    transition: 0.5s ease;
    transform: translateX(-150%);
    min-height: 100vh;
  }

  .navbar--active {
    transform: translateX(0);
  }
  
  .btn-menu {
    display: block;
    position: fixed;
    z-index: 300;
    top: 40px;
    left: 40px;
  }
  .navbar__wrapper {
    padding: 30px 0;
    width: 350px;
  }
  .navbar__menu__wrapper {
    flex-direction: column;
  }
  .with-menu {
    &::after {
      display: none;
    }
  }
  .layer {
    position: fixed;
    z-index: -1;
    background: rgba($color: #000000, $alpha: 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s ease;
  }
  .layer--active {
    opacity: 1;
    z-index: 99;
  }
  .navbar__menu {
    flex-direction: column;
    align-items: start;
    margin-bottom: 50px;
  }
  .account__related {
    display: none;
  }
  .account__related--display-750  {
    display: flex;
    position: absolute;
    top: 40px;
    right: 40px;

    a {
      &:last-child {
        margin-left: 15px;
      }
    }
  }
  .top__address {
    display: none;
  }
  .navbar__menu__wrapper {
    width: 100%;
  }
  .top__right {
    display: none;
  }
  .top__left {
    margin: 0 auto;
  }
  .header__top {
    width: 430px;
  }
  .contact-details-750 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
  }
  .top__address {
    display: none;
  }
  .top__address--display-750 {
    display: flex;
  }
  .tel-number {
    a, div {
      margin-bottom: 15px;
    }
  }
}



@media only screen and (max-width: 750px) {
  .account__related {
    a.with-icon {
      font-size: 0;
    }
  }
  .account__related--display-750 {
    right: 0;
  }
  .mini-logo {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .big-logo {
    display: none;
  }
  .logo {
    margin: 0;
  }
}